<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Guru99 Test Suite">
	<parameter name="URL" value="http://www.demo.guru99.com/V4/"/>
	<parameter name="browser" value="Firefox"/>

  <test thread-count="5" name="Banking Demo Tests">
  	<classes>
  		<class name="com.kalopap.guru99.Tests.LoginTest"/>
  		<class name="com.kalopap.guru99.Tests.ManagerHomeTest"/>
  	</classes>
  
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
